In [1]:
import numpy as np

Ans1.

In [2]:
list_ = ['1','2','3','4','5']
array_list = np.array(list_)

In [10]:
type(array_list)

numpy.ndarray

In [11]:
type(list_)

list

Ans2.

In [13]:
def d_type(data):
    for i in data:
        print(type(i))

In [14]:
d_type(list_)

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [15]:
d_type(array_list)

<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>

Ans3.

In [16]:
array_list = np.array(list_,dtype=int)

In [17]:
d_type(list_)

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [18]:
d_type(array_list)

<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>

Ans4.

In [19]:
num_list = [[1,2,3],[4,5,6]]

In [20]:
num_array = np.array(num_list)

In [28]:
#Shape of list
n_row = len(num_list)
n_col = len(num_list[0])
shape= (n_row,n_col)
shape

(2, 3)

In [30]:
#size of list
size = n_row*n_col
size

6

In [32]:
#shape of arr
num_array.shape

(2, 3)

In [33]:
#size of arr
num_array.size

6

Ans5.

In [35]:
arr1 = np.zeros([3,3])
arr1

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

Ans6.

In [38]:
arr2 = np.identity(5)
arr2

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])