In [2]:
!pip install pandas
import pandas as pd

Collecting pandas
  Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.0.0-cp312-cp312-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.9 kB ? eta -:--:--
     ------ --------------------------------- 10.2/60.9 kB ? eta -:--:--
     ------------------- ------------------ 30.7/60.9 kB 325.1 kB/s eta 0:00:01
     ------------------------------- ------ 51.2/60.9 kB 372.4 kB/s eta 0:00:01
     -------------------------------------- 60.9/60.9 kB 405.3 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\princ\anaconda3\envs\pandas\lib\site-packages (from pandas) (2.9.0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\princ\anaconda3\envs\pandas\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
Downloading numpy-2.0.0-cp312-cp312-win_amd64.whl (16.2 MB)
   ---------------------------------------- 0.0/16.2 MB ? eta -:--:--
   - -------------------------------------- 0.6/16.2 MB 13.5 MB/s eta 0:00:02
   ---- ----------------------------------- 1.8/16.2 MB 19.0 MB/s eta 0:00:01
   ------- -------------------------------- 2.9/16.2 MB 20.5 MB/s eta 0:00:01
   ---------- ----------------------------- 4.1/16.2 MB 21.5 MB/s eta 0:00:01
   ------------ --------------------------- 5.2/16.2 MB 22.2 MB/s eta 0:00:01
   -------------- ------------------------- 5.8/16.2 MB 20.5 MB/s eta 0:00:01
   --------------- ------------------------ 6.1/16.2 MB 18.7 MB/s eta 0:00:01
   --------------- ------------------------ 6.5/16.2 MB 17.2 MB/s eta 0:00:01
   ---------------- ----------------------- 6.8/16.2 MB 16.1 MB/s eta 0:00:01
   ----------------- ---------------------- 7.3/16.2 MB 15.5 MB/s eta 0:00:01
   ------------------- -------------------- 7.7/16.2 MB 15.0 MB/s eta 0:00:01
   -------------------- ------------------- 8.3/16.2 MB 14.8 MB/s eta 0:00:01
   ---------------------- ----------------- 8.9/16.2 MB 14.6 MB/s eta 0:00:01
   ----------------------- ---------------- 9.5/16.2 MB 14.2 MB/s eta 0:00:01
   ------------------------ --------------- 10.1/16.2 MB 14.3 MB/s eta 0:00:01
   -------------------------- ------------- 10.8/16.2 MB 14.6 MB/s eta 0:00:01
   ---------------------------- ----------- 11.5/16.2 MB 14.2 MB/s eta 0:00:01
   ------------------------------ --------- 12.3/16.2 MB 13.9 MB/s eta 0:00:01
   -------------------------------- ------- 13.1/16.2 MB 13.6 MB/s eta 0:00:01
   ---------------------------------- ----- 14.0/16.2 MB 13.1 MB/s eta 0:00:01
   ------------------------------------ --- 14.9/16.2 MB 13.1 MB/s eta 0:00:01
   -------------------------------------- - 15.7/16.2 MB 13.1 MB/s eta 0:00:01
   ---------------------------------------  16.2/16.2 MB 13.6 MB/s eta 0:00:01
   ---------------------------------------- 16.2/16.2 MB 12.6 MB/s eta 0:00:00
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.0 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

In [4]:
ser1 = pd.Series([4,8,15,16,23,43])
print(ser1)

0     4
1     8
2    15
3    16
4    23
5    43
dtype: int64

In [12]:
var1 = list([1,2,3,6.8,5.4,3,4,5,0,2])

In [13]:
print(pd.Series(var1))

0    1.0
1    2.0
2    3.0
3    6.8
4    5.4
5    3.0
6    4.0
7    5.0
8    0.0
9    2.0
dtype: float64

In [10]:
df = pd.DataFrame(
{
'Name':['Alice','Bob','Clarie'],
'Age':[25,30,27],
'Gender':['Female','Male','Female']
}
)

In [11]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Clarie   27  Female

Ans 4. A DataFrame is a two-dimensional table that can hold multiple columns of data, making it great for handling structured data like numbers, text, and dates. It has rows and columns.

One main difference between a DataFrame and a Series is that a DataFrame can have multiple columns, while a Series can only have one. This means a DataFrame can store more complex and varied data, while a Series holds simpler, uniform data.

In [14]:
# A Series is a one-dimensional array that can hold data of only one type (e.g., integers, floats, strings).

# Creating a Series
series_example = pd.Series([10, 20, 30, 40, 50])

print(series_example)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [15]:
""" A DataFrame is a two-dimensional table with multiple columns,
each of which can hold different types of data (e.g., integers, floats, strings). """ 

# Creating a DataFrame
dataframe_example = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
})

print(dataframe_example)

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
3    David   32      Houston

1.head() and tail(): View the first or last few rows of the DataFrame.

2.info(): Get a concise summary of the DataFrame.

3.describe(): Generate descriptive statistics.

4.drop(): Remove rows or columns.

5.loc and iloc: Access a group of rows and columns by labels or positions.

6.groupby(): Group the DataFrame using a mapper or by a Series of columns.

7.merge(): Merge DataFrame objects by performing a database-style join.

8.concat(): Concatenate pandas objects along a particular axis.

9.pivot_table(): Create a spreadsheet-style pivot table as a DataFrame.

10.apply(): Apply a function along an axis of the DataFrame.

In [17]:
df['Age'].describe()

count     3.000000
mean     27.333333
std       2.516611
min      25.000000
25%      26.000000
50%      27.000000
75%      28.500000
max      30.000000
Name: Age, dtype: float64

DataFrame is mutable in nature.

In [21]:
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David', 'Eve'], name = 'Name')
ages = pd.Series([25, 30, 35, 40, 45], name = 'Age')
heights = pd.Series([160,170,165,175,180], name = 'Height')

In [22]:
df1 = pd.DataFrame({'Name':names, 'Age': ages, 'Height': heights})

In [23]:
df1

      Name  Age  Height
0    Alice   25     160
1      Bob   30     170
2  Charlie   35     165
3    David   40     175
4      Eve   45     180