Ans1.

In [9]:
a = [2,3,4,5,6,7]

In [10]:
a.append('mango')

In [11]:
a

[2, 3, 4, 5, 6, 7, 'mango']

In [12]:
a = a + ['banana','grapes','orange']

In [13]:
a

[2, 3, 4, 5, 6, 7, 'mango', 'banana', 'grapes', 'orange']

In [14]:
a.insert(4,'apple')

In [15]:
a

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes', 'orange']

In [16]:
a.pop()

'orange'

In [17]:
a

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes']

Ans2.

In [18]:
L = [1,2,3,4,5,6,7]

In [19]:
L[1:4]

[2, 3, 4]

Ans3.

In [20]:
L = [4,5,6,8,3]

In [28]:
lst = []
for i in range(len(L)-1,-1,-1):
    lst.append(L[i])
lst

[3, 8, 6, 5, 4]

Ans4.

In [34]:
L = [2,4,7,3,6,8]

In [37]:
Square_L = [ x**2 for x in L]

In [38]:
Square_L

[4, 16, 49, 9, 36, 64]

Ans5.

In [39]:
def Sum_tup(tup1):
    sum = 0
    for i in tup1:
        sum = sum + i
    return sum

In [40]:
tup1 = (3,5,7,9)
Sum_tup(tup1)

24

Ans6.

In [41]:
fruits1 = {"apple", "banana", "pear"}
fruits2 = {"orange", "grape", "kiwi"}

In [42]:
fruits = fruits1.union(fruits2)

In [44]:
print(fruits)

{'orange', 'kiwi', 'banana', 'grape', 'apple', 'pear'}

Ans7.

In [45]:
set1 = {'prince','singh','random'}
print(set1.add('result'))

In [47]:
set1.add('result')
print(set1)

{'singh', 'prince', 'random', 'result'}

Ans8.

In [48]:
Fav_animal = {'Lion','Dog','Crow'}

In [50]:
Fav_animal.remove('Lion')

In [51]:
Fav_animal

{'Crow', 'Dog'}

Ans9.

In [52]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

In [56]:
book_movie_pair = list(zip(favorite_books,favorite_movies))

In [57]:
print(book_movie_pair)

[('1984', 'The Shawshank Redemption'), ('To Kill a Mockingbird', 'The Godfather'), ('Pride and Prejudice', 'The Dark Knight')]

Ans10.

In [58]:
lst1 = [2,3,5,6,7,3]

In [61]:
diff = []
for i in range(1,len(lst1)):
    sub = lst1[i] - lst1[i-1]
    diff.append(sub)
diff

[1, 2, 1, 1, -4]